@{
    ViewData["Title"] = "Home Page";
}
@model IQueryable<Book> 

<div class="text-center">
    <h1 class="display-4">Welcome to the Bookstore</h1>
</div>
<br /><br />

    <div>
        <div class="container">
            <div class="row">
                @foreach (var b in Model)
                { 
                    <div class="col-3">
                        <h4>@b.Title</h4>
                        <p>Author: @b.AuthorFirst @b.AuthorLast</p>
                        <p>Publisher: @b.Publisher</p>
                        <p>ISBN: @b.ISBN</p>
                        <p>Classification: @b.Classification</p>
                        <p>Category: @b.Category</p>
                        <p>Price: $@b.Price</p>
                    </div>
                  }
            </div>
        </div>
        
    </div>
